<div fxLayout="column" fxLayoutAlign="center center">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input type="text" matInput #searchRef />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div>
  <!-- <book-purchase-book-list [books]="books"></book-purchase-book-list> -->
</div>
