<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Enlight</span>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="side" opened>
    <div fxLayout="column" fxLayoutAlign="center start">
      <button mat-button>
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <button mat-button>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
      <button mat-button>
        <mat-icon>library_books</mat-icon>
        <span>My Collection</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container" fxFlexFill>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
