<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%">
  <mat-card *ngFor="let book of books">
    <mat-card-header>
      <mat-card-title>{{ book?.volumeInfo?.title }}</mat-card-title>
      <mat-card-subtitle>{{ book?.volumeInfo?.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row">
      <div fxFill="50px">
        <p>{{ book?.description }}</p>
        <div>
          <span>Written By:</span>
          <div>
            {{ book?.volumeInfo?.authors?.toString() | titlecase }}
          </div>
        </div>
      </div>
      <div fxFill="20px">
        <img [src]="book?.volumeInfo?.imageLinks?.smallThumbnail" alt="Book" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
